@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow($shadow: $box-shadow) {
  box-shadow: $shadow;
  transition: box-shadow $transition-duration, background $transition-duration;
}
