$font-family: "Rubik", sans-serif;
$primary-color: #074fad;
$container-max-width: 1440px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
$transition-duration: 0.3s;
$input-focus-color: #2463f5;
$input-focus-box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
$button-background: #275a90;
$button-hover-background: #0864c7;
$results-max-width: 1440px;
$results-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
$results-gradient-start: #0f96df;
$results-gradient-end: #f9f9f9;
$results-hover-gradient-start: #f66356;
$results-hover-gradient-end: #c68dfb;
